name: RunTests

on:
  workflow_dispatch:

  push:
    branches:
      - master

env:
  SLNX_PATH: 'Source/Portic.slnx'

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x.x'

      - name: Run tests
        run: |
          dotnet test ${{ env.SLNX_PATH }} --configuration Release